<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden">

            <!-- 앱 아이콘으로 실행 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- .hwp / .hwpx 알려진 MIME 타입으로 열기 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-hwp" />
                <data android:mimeType="application/haansofthwp" />
                <data android:mimeType="application/vnd.hancom.hwp" />
                <data android:mimeType="application/vnd.hancom.hwpx" />
                <data android:mimeType="application/hwp" />
            </intent-filter>

            <!-- 확장자 기반(콘텐츠 URI, MIME 미상일 때) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.hwp" />
                <data android:pathPattern=".*\\.hwpx" />
                <data android:pathPattern=".*\\..*\\.hwp" />
                <data android:pathPattern=".*\\..*\\.hwpx" />
            </intent-filter>

            <!-- 공유(다른 앱에서 보내기) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-hwp" />
                <data android:mimeType="application/haansofthwp" />
                <data android:mimeType="application/vnd.hancom.hwp" />
                <data android:mimeType="application/vnd.hancom.hwpx" />
            </intent-filter>
        </activity>
    </application>
</manifest>
