<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden">

            <!-- app icon launch -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- open by known MIME types (.hwp / .hwpx) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-hwp" />
                <data android:mimeType="application/haansofthwp" />
                <data android:mimeType="application/vnd.hancom.hwp" />
                <data android:mimeType="application/hwp" />
                <data android:mimeType="application/vnd.hancom.hwpx" />
                <data android:mimeType="application/haansofthwpx" />
                <data android:mimeType="application/x-hwpx" />
                <data android:mimeType="application/hwpx" />
                <data android:mimeType="application/hwp+zip" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <!-- Google Drive etc. pass unknown files as octet-stream with no path extension -->
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/binary" />
            </intent-filter>

            <!-- extension-based (content URI, unknown MIME) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.hwp" />
                <data android:pathPattern=".*\\.hwpx" />
                <data android:pathPattern=".*\\.HWP" />
                <data android:pathPattern=".*\\.HWPX" />
                <data android:pathPattern=".*\\..*\\.hwp" />
                <data android:pathPattern=".*\\..*\\.hwpx" />
                <data android:pathPattern=".*\\..*\\..*\\.hwp" />
                <data android:pathPattern=".*\\..*\\..*\\.hwpx" />
                <data android:pathSuffix=".hwp" />
                <data android:pathSuffix=".hwpx" />
            </intent-filter>

            <!-- share (SEND from other apps) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-hwp" />
                <data android:mimeType="application/haansofthwp" />
                <data android:mimeType="application/vnd.hancom.hwp" />
                <data android:mimeType="application/vnd.hancom.hwpx" />
                <data android:mimeType="application/haansofthwpx" />
                <data android:mimeType="application/hwp+zip" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
    </application>
</manifest>
